<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nassim.projet_integration">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Inscription_Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Connexion_activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Accueil"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Actualite_activity"
            android:parentActivityName=".Accueil" />
        <activity
            android:name=".Commentaires"
            android:parentActivityName=".Actualite_activity" />
        <activity
            android:name=".MakeComment"
            android:parentActivityName=".Commentaires" />
        <activity android:name=".Publier" />
        <activity android:name=".ImageFull" />
        <activity android:name=".MyDiscussions"></activity>
    </application>

</manifest>